@import url("https://fonts.googleapis.com/css?family=Caveat+Brush");

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

body {
	background: #B5C4B1;
	/*#FBC312 #E0E5DF*/
}

.type {
	font-family: 'Caveat Brush', cursive;
	font-size: 2.8em;
	color: #11224D;
}

.enjoy {
	font-family: 'Caveat Brush', cursive;
	font-size: 3em;
	color: #11224D;
}